@use '../../shared/styles/media.scss';

.container {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;

    .title {
        align-self: center;
    }

    span {
        color: var(--color-black);
        font-family: "Fraunces";
    }

    h3 {
        color: var(--color-black);
        font-family: "Fraunces";
        margin-block: 0;
    }


    .leftColumn {
        text-align: end;
       flex: 1;
    }

    .rightColumn {
        flex: 1;
    }

    .middleColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 40px;
        
        @include media.small {
            padding: 0 16px;
         }
    }
}