:root {
    --color-green: RGB(137, 156, 134);
    --color-dark-gold: RGB(193, 168, 137);
    --color-gold: RGB(222, 203, 173);
    --color-white: RGB(255, 245, 237);
    --color-black: RGB(50, 50, 50);
}