@use "../../shared/styles/media.scss";

#header {
  display: flex;
  flex: 1;
  padding-top: 24px;
  padding: 8px 32px;
  background-color: var(--color-green);
  align-items: center;
  height: 70px;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 32px;
}

a:hover {
  color: var(--color-gold);
}

#links {
  display: flex;
  flex: 1;
  gap: 120px;
  align-items: center;
  justify-content: center
}

#burger {
  display: none;
}


#hk-logo {
  width: 50px;
  height: 50px;
}

@include media.medium {
  #links {
    display: none;
  }

  #burger {
    display: inline;
  }

  #header {
    display: flex;
    justify-content: space-between;
  }
}

@include media.large {
  #links {
    gap:60px
  }
}

