#header {
  display: flex;
  flex: 1;
  padding-top: 24px;
  padding: 8px 32px;
  background-color: RGB(137, 156, 134);
  /* background-color: RGB(255, 245, 237); */
  align-items: center;
  height: 70px;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
  color:RGB(255, 245, 237);
  font-size: 32px;
}

a:hover {
  color: RGB(222, 203, 173);
}

#links {
  display: flex;
  flex: 1;
  gap: 120px;
  align-items: center;
  justify-content: center
}

#burger {
  display: none;
}

#hk-text {
  display: none;
}


@media only screen and (max-width: 800px) {
  #links {
    display: none;
  }

  #burger {
    display: inline;
  }

  #header {
    display: flex;
    justify-content: space-between;
  }

  #hk-text {
    display: inline;
    color: RGB(255, 245, 237);
    font-size: 32px;
  }
}
